
<style>
title-slide {
  background: #efefef;
  background-image: url();
  background-position: top center;
  background-repeat: no-repeat;
}
slides > slide.title-slide hgroup h1 {
      font-weight: bold;
      font-size: 48pt;
      color: #282a2e;
      #268bd2
}
slides > slide.title-slide hgroup h2 {
    color: #f0c674;
}

h1,
h2,
h3,
h4,
h5,
h6{
   color: #282a2e;
   font-weight: bold
   font-size: 36
   font-family: 'TeX Gyre Heros';
   
}

body{
 background-color: #efefef
}
p,
li{
color: #282a2e;
font-family: 'Cantarell';
}
slides > slide.backdrop {
  background: #efefef;
}
</style>
